{% extends 'base.html' %}

{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center">
            <h2>Welcome to my SITE!</h2>
            <h5>let's find your dream car<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script></h5>
            <a href="#" class="btn btn-outline-light mt-3">Create New Project</a>
        </div>
    </div>
    <div class="row bg-black p-3 shop-stats" style="color: white">
        <div class="col d-flex justify-content-center">Total # of Users</div>
        <div class="col d-flex justify-content-center">Total Sales : $0</div>
        <div class="col d-flex justify-content-center">Total # of Projects</div>
    </div>
</div>

{% endblock content %}